<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioCorreo"/>
                <binding name="AutentificarSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="AutentificarSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://200.23.87.202:85/ServicioCorreo.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCorreo" contract="EnviaCorreos.IServicioCorreo" name="BasicHttpBinding_IServicioCorreo"/>
            <endpoint address="http://169.57.39.142/Login_WS/Autentificar.asmx" binding="basicHttpBinding" bindingConfiguration="AutentificarSoap" contract="WSautentificar.AutentificarSoap" name="AutentificarSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
